html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/background2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
    padding: 0 10px;
}

.navbar {
    padding: 10px 0;
    background-color: rgb(0, 0, 0);
    text-align: center;
}

h1 {
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
    background-color: rgba(243, 164, 162, 0.635);
    padding: 15px 0;
    margin-top: auto;
}
tr, h1, h3{
    text-align: center;
}

h3{
    font-family: "Julius Sans One", sans-serif;
}

table {
    margin: 0 auto;
}

div.form-group {
    width: 300px;
    margin: 0 auto;
    text-align: left;
    background-color: white;
    padding: 20px;
    border: 2px solid rgb(221, 133, 133);
    border-radius: 25px;
}

input, select {
    border-radius: 15px;
    margin-top: 5px;
    padding: 5px 20px;
}

label {
    font-family: "Playfair Display", serif;
}

#calculate {
    background-color: rgb(65, 54, 54);
    color: white;
    padding: 10px 20px;
    display: block;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.checkout {
    background-color: rgb(231, 81, 81);
    color: white;
    padding: 10px 30px;
    text-align: center;
    display: block;
    border: none;
    border-radius: 5px;
    margin: 10px auto;
    cursor: pointer;
}